<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ScheduLumos - CPU Scheduling Algorithm Visualizer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.png' ) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="An interactive tool to visualize CPU scheduling algorithms like FCFS, SJF (Preemptive and Non-Preemptive), Priority Scheduling, and Round Robin. Perfect for students and developers.">
    <meta name="keywords"
        content="CPU Scheduling, Algorithm Visualizer, FCFS, SJF, Priority Scheduling, Round Robin, Operating Systems, ScheduLumos">
    <meta name="author" content="Kausar Ahmed">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>ScheduLumos</h1>
        </div>

        <div class="body-container">
            <a href="{{ url_for('fcfs') }}">
                <div class="button">FCFS</div>
            </a>
            <a href="{{ url_for('sjf_non_preemptive') }}">
                <div class="button">SJF Non-Preemptive</div>
            </a>
            <a href="{{ url_for('sjf_preemptive') }}">
                <div class="button">SJF Preemptive</div>
            </a>
            <a href="{{ url_for('priority_scheduling') }}">
                <div class="button">Priority Scheduling</div>
            </a>
            <a href="{{ url_for('round_robin') }}">
                <div class="button">Round Robin</div>
            </a>
        </div>

        <div class="footer">
            &copy; KAUS4R |
            <a href="https://github.com/kausar2nd/ScheduLumos" class="socio-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/kausar2nd" class="socio-link" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>

</body>

</html>